.container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -14rem;
    left: 0;
    -webkit-transition:  left 0.4s ease-in-out;
    -moz-transition:  left 0.4s ease-in-out;
    -ms-transition:  left 0.4s ease-in-out;
    -o-transition:  left 0.4s ease-in-out;
    transition:  left 0.4s ease-in-out;
}
.container.open-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 14rem;
    z-index: 5;
}
@media (min-width: 30em) {
    .container.open-sidebar {
      font-size: .875rem; /* 15px */
    }
}

/* Sidebar content */
.sidebar {
    position: absolute;
    left: -14rem;
    width: 14rem;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 5;
}
.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar ul li {
    margin: 0;
    display: block;
    padding-top: 1rem;
}
.sidebar ul li a {
    font-weight: normal;
    font-size: 1.25em;
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    padding: 15px 20px;
    text-decoration: none;
    display: block;
}
a.sidebar-nav-item.active,
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
    text-decoration: none;
    background-color: rgba(255,255,255,.1);
    border-color: transparent;
}
@media (min-width: 48em) {
    a.sidebar-nav-item {
      padding-left:  1.5rem;
      padding-right: 1.5rem;
    }
}

.swipe-area {
    position: absolute;
    width: 3rem;
    left: 0;
    top: 0;
    height: 100%;
    background: #f3f3f3;
    z-index: 1;
}
.main-content {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}
.main-content .content{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-left: 60px;
    width: 100%;
}
.main-content .content h1{
    font-weight: 100;
}
.main-content .content p{
    width: 100%;
    line-height: 160%;
}
.sidebar-toggle {
    position: absolute;
    border-radius: .25rem;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #555555;
    display: block;
    padding: 10px 7px;
    z-index: 5;
}
@media (min-width: 30.1em) {
    .sidebar-toggle {
        position: fixed;
    }
}
@media print {
    .sidebar-toggle {
        display: none;
    }
}
.sidebar-toggle .bar{
     display: block;
    width: 18px;
    margin-bottom: 3px;
    height: 2px;
    background-color: #fff;
    border-radius: 1px;
}
.sidebar-toggle .bar:last-child{
     margin-bottom: 0;
}

.wrap, .container,
 .sidebar-toggle {
     -webkit-backface-visibility: hidden;
     -ms-backface-visibility: hidden;
     backface-visibility: hidden;
 }

.wrap, .sidebar-toggle {
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
}

/*
* Themes
*
* Apply custom color schemes by adding the appropriate class to the `body`.
* Based on colors from Base16: http://chriskempson.github.io/base16/#default.
*/


/* Blue */
.theme-base-0d .sidebar,
.theme-base-0d .sidebar-toggle:active,
.theme-base-0d .sidebar-checkbox:checked ~ .sidebar-toggle {
    background-color: #6a9fb5;
}
.theme-base-0d .container a,
.theme-base-0d .sidebar-toggle,
.theme-base-0d .related-posts li a:hover {
    color: #6a9fb5;
}


/* Orange */
.theme-base-09 .sidebar,
.theme-base-09 .sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #F5864D;

}
.theme-base-09 .sidebar-toggle:active {
    color: #FFFFFF;
    background-color: #555555;
}
.theme-base-09 .container a,
.theme-base-09 .sidebar-toggle,
.theme-base-09 .related-posts li a:hover {
  color: #FFFFFF;
}
