<div class="show-mobile">
    <div class="container">
        <div class="sidebar">
            <ul>
            {% assign pages_list = site.page_data%}
            {% for node in pages_list %}
                {% if node.title != null %}
                <li>
                    <a class="sidebar-nav-item{% if node.id == page.id %} active{% endif %}" href="{{ site.baseurl }}/{{ node.url }}">{{ node.title }}</a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <div class="main-content">
            <div class="swipe-area"></div>
            <a href="#" data-toggle=".container" class="sidebar-toggle">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </a>
        </div>
        <script>
            $(document).ready(function() {
              $("[data-toggle]").click(function() {
                var toggle_el = $(this).data("toggle");
                $(toggle_el).toggleClass("open-sidebar");
              });

            });

            $(".swipe-area").swipe({
                swipeStatus:function(event, phase, direction, distance, duration, fingers)
                    {
                        if (phase=="move" && direction =="right") {
                             $(".container").addClass("open-sidebar");
                             return false;
                        }
                        if (phase=="move" && direction =="left") {
                             $(".container").removeClass("open-sidebar");
                             return false;
                        }
                    }
            });
        </script>
    </div>
</div>