main p {
    font-size: 1em;
}

main table {
    width:100%;
    border: 1px solid #cccccc;
} 
main td, th{
    text-align: center;
    color: #333;
    padding: 15px 10px;
    border-right: 1px solid #cccccc; 
}
