---
layout: default
---
{{ content }}
<div class="tabs">
    <div class="tab">
        <label for="tab-1">Software</label>
        <hr>
        <input id="tab-1" name="tabs-three" type="checkbox" checked="checked" onchange="displayText1(this.checked)">
        <div id ="tab1">
            <h3 id="git-book-20"><a href="/pdf/web/viewer.html?file=progit.pdf">Git Book 2.0</a></h3>
            <p>All things Git. An in depth explanation of how to use Git and what it is.</p>

            <h3 id="git-notes"><a href="/readings/Git-Notes">Git Notes</a></h3>
            <p>Notes that I have taken from the Git Book as an abbreviated versions, with frequently used commands.</p>
        </div>
    </div>
    <div class="tab">
        <label for="tab-2">Running</label>
        <hr>
        <input id="tab-2" name="tabs-three" type="checkbox" onchange="displayText2(this.checked)">
        <div id ="tab2">
            <h3 id="the-science-of-running">The Science of Running</h3>
            <p>Author: Steve Magness</p>

            <h3 id="what-comes-first-cardio-or-weights">What Comes First, Cardio or Weights?</h3>
            <p>Author: Alex Hutchinson</p>

            <h3 id="road-to-the-top">Road to the Top</h3>
            <p>Author: Joe Vigil</p>

            <h3 id="the-mechanics-of-athletics">The Mechanics of Athletics</h3>
            <p>Author: Geoffrey Dyson</p>

            <h3 id="a-history-of-training-theory-and-methods-for-elite-runners-through-1975"><a href="/pdf/web/viewer.html?file=History%20of%20running.pdf">A History of Training Theory and Methods for Elite Runners Through 1975</a></h3>
            <p>Author: Nicholas Bourne</p>

            <h3 id="arthyr-lydiards-athletic-training"><a href="/pdf/web/viewer.html?file=Arthur%20Lydiard.pdf">Arthyr Lydiard’s Athletic Training</a></h3>
            <p>Author: Arthur Lydiard</p>
        </div>
    </div>
    <div class="tab">
        <label for="tab-3">Thinking</label>
        <hr>
        <input id="tab-3" name="tabs-three" type="checkbox" onchange="displayText3(this.checked)">
        <div id ="tab3">
            <h3 id="antifragile-things-that-gain-from-disorder">Antifragile: Things that Gain from Disorder</h3>
            <p>Author: Nassim Taleb</p>

            <h3 id="peak-performance">Peak Performance</h3>
            <p>Author: Brad Stulberg, Steve Magness</p>
        </div>
    </div>

    <div class="tab">
        <label for="tab-4">My Thoughts</label>
        <hr>
        <input id="tab-4" name="tabs-three" type="checkbox" onchange="displayText4(this.checked)">
        <div id ="tab4">
            <h3 id="my-thoughts-peak-performance"><a href="/readings/Peak-Performance">Peak Performance</a></h3>
            <p>I list some of the key take-aways of the book, along with thoughts that came to mind during the read.</p>
            <h3 id="my-thoughts-art-of-learning"><a href="/readings/Art-of-Learning">Art of Learning</a></h3>
            <p>I list some of the key take-aways of the book, along with thoughts that came to mind during the read.</p>
        </div>
    </div>
</div>

<script>
    function displayText1(checked){
        if(checked) {
            $("#tab1").fadeIn();

        }
        else {
            $("#tab1").fadeOut();
        }
    }
    function displayText2(checked){
        if(checked) {
            $("#tab2").fadeIn();

        }
        else {
            $("#tab2").fadeOut();
        }
    }
    function displayText3(checked){
        if(checked) {
            $("#tab3").fadeIn();

        }
        else {
            $("#tab3").fadeOut();
        }
    }
    function displayText4(checked){
        if(checked) {
            $("#tab4").fadeIn();

        }
        else {
            $("#tab4").fadeOut();
        }
    }
</script>
