<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
			<!-- Custom CSS and JavaScript -->

                        {% for css_file in page.custom_css %}
                            <link rel="stylesheet" href="{{ site.baseurl }}/{{ css_file }}">
                        {% endfor %}

                        {% for js_file in page.custom_js %}
                            <script src="{{ site.baseurl }}/{{ js_file }}"></script>
                        {% endfor %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/contact">Contact Me</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/resume">Resume</a></li>
                                <li><a href="/training">Training</a></li>
                                <li><a href="/training/pace-chart">Pace Chart</a></li>
	    		</ul>
			</nav>
			
			{% include sidebar.html %}
			 
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    	
			</footer>
		</body>
	</html>
