---
layout: markdown
---
<table-of-contents>
    <h2>Table of Contents</h2>
    <ul>
        <ol><a href="#version-control">Version Control</a></ol>
        <ol><a href="#getting-started">Getting Started</a></ol>
        <ul>
            <ol><a href="#svn-structure">Version Control</a></ol>
            <ol><a href="#git-structure">Git Structure</a></ol>
            <ol><a href="#install-and-setup-of-git">Install and Setup of Git</a></ol>
            <ol><a href="#configure-system-environment">Configure System Environment</a></ol>
            <ol><a href="#getting-help">Getting Help</a></ol>
        </ul>
        <ol><a href="#git-basics">Git Basics</a></ol>
        <ul>
            <ol><a href="#initialize-a-repo-in-an-existing-directory">Initialize a Repo in an Existing Directory</a></ol>
            <ol><a href="#clone-an-existing-repository">Clone an Existing Repository</a></ol>
            <ol><a href="#recording-changes-to-the-repository">Recording Changes to the Repository</a></ol>
            <ol><a href="#ignoring-files">Ignoring Files</a></ol>
            <ol><a href="#skipping-the-staging-area">Skipping the Staging Area</a></ol>
            <ol><a href="#removing-files">Removing Files</a></ol>
            <ol><a href="#viewing-the-commit-history">Viewing the Commit History</a></ol>
            <ol><a href="#format-options">Format Options</a></ol>
            <ol><a href="#undoing-things">Undoing Things</a></ol>
            <ol><a href="#adding-remote-repositories">Adding Remote Repositories</a></ol>
            <ol><a href="#fetching-pulling-and-pushing-your-remotes">Fetching Pulling and Pushing Your Remotes</a></ol>
            <ol><a href="#tagging">Tagging</a></ol>
        </ul>
        <ol><a href="#git-branching">Git Branching</a></ol>
        <ul>
            <ol><a href="#creating-a-branch">Creatug a Branch</a></ol>
            <ol><a href="#switching-branches">Switching Branches</a></ol>
            <ol><a href="#delete-a-branch">Delete a Branch</a></ol>
            <ol><a href="#merge-commit">Merge Commit</a></ol>
            <ol><a href="#merge-conflict">Merge Conflicts</a></ol>
        </ul>
    </ul>
</table-of-contents>

{% capture section1 %}
<article class="markdown-body">
    {{ content }}
</article>
{% endcapture %}

{% include template.html %}